<sb-dashboard-head title="À propos" [hideBreadcrumbs]="false"></sb-dashboard-head>
<div class="container">
  <table class="table table-condensed">
    <tbody>
      <tr>
        <th>
          <h3>Patch Management V1.0 2022</h3>
        </th>
        <td>Développé par <a href="http://www.cogitis.fr">Cogitis </a><img src="../../../assets/img/COGITIS-Logo-blocmarque-quadri.jpg">
        </td>
      </tr>
      <tr>
        <th>
          <h3>Développeur:</h3>
        </th>
        <td><br>BONNEAUD Maël (Cogitis)</td>
      </tr>
      <tr>
        <th>
          <h3>Chef de projet:</h3>
        </th>
        <td><br>CLARAMUNT Frederic (Cogitis)</td>
    </tbody>
  </table>
</div>
<app-apropos-team class="mt-3"></app-apropos-team>
<p class="text-center">Pour toute déclaration d’incident technique ou mauvais fonctionnement du portail, vous pouvez
  contacter l’assistance cogitis au <u>04.67.67.64.64</u> ou par mail à <a style="color:black"
    href="mailto:assistance@cogitis.fr"><u>assistance@cogitis.fr</u></a> .</p>