<li class="nav-item dropdown dropdown-user no-caret" *ngIf="authentificationService.user | async as user" ngbDropdown placement="bottom-right" display="dynamic">
    <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false"><fa-icon [icon]='["fas", "user"]'></fa-icon></a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
        <h6 class="dropdown-header">
            <div class="dropdown-user-details">
                <div class="dropdown-user-details-name">{{ user.adUser['givenName'] }} {{ user.adUser['sn'] }}</div>
                <div class="dropdown-user-details-email">{{ user.adUser['mail'] }}</div>
            </div>
        </h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/patchManagement/settings">Paramètres</a><a class="dropdown-item" routerLink="/dashboard">Activity Log</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item red" (click)="this.Reset()" routerLink="/patchManagement/dashboard">Réinitialiser mon profil</a>
    </div>
</li>
