<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/patchManagement/plannificationExceptionnel" background="bg-primary"><div class="card-body">Planification Exceptionnelle Future: {{this.plannifFutur | async}}</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/patchManagement/exclusions" background="bg-warning"><div class="card-body">Serveurs Exclus: {{this.serveursExclus | async}}</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/patchManagement/serveurs/Alco_Windows" background="bg-success"><div class="card-body">Nombre de Serveurs: {{this.serveurs | async}}</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/patchManagement/calendrier" background="bg-danger"><div class="card-body">Prochain Patch dans: {{this.jourRestant | async}} jours</div></sb-card-view-details>
    </div>
</div>
