<sb-layout-error
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">401</h1>
                    <p class="lead">Unauthorized</p>
                    <p>Les accès à cette ressource sont refusés</p>
                    <a href="https://172.17.2.130:4200/dashboard"><fa-icon class="mr-1" [icon]='["fas", "arrow-left"]'></fa-icon>Rafraichir</a>
                </div>
            </div>
        </div>
    </div></sb-layout-error
>
